        body, div {
            background-color: aqua;
            place-items: center;
        }
        img, iframe {
            display: block; 
            margin-left: auto;
            margin-right: auto;
        }
        #Top {
            font-size: 50px;
            background: linear-gradient(
                80deg,
                #f22159,
                #e98d1c,
                #42d883,
                #3b25b8,
                #ea4cd2
                );
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-size: 500% 500%;
            animation: gradient-animation 12s ease infinite;
            }

        @keyframes gradient-animation {
        0% {
            background-position: 0% 25%;
           }
        50% {
            background-position: 200% 50%;
           }
        100% {
            background-position: 0% 25%;
           }
        }
        p, ul, table, form, a{
        font-family: "Times New Roman", Times, serif;
        font-size: 20px
        }
        h1, .Important {
        font-family: Marker Felt, fantasy;
        letter-spacing: 1px
        }
        tr {
        border-bottom: 2px solid black;
        }
        td:first-child, th:first-child {
        border-right: 2px solid black;
        }
        table {
        border-collapse: collapse;
        border: 2px solid black;
        }
        #PPicture {
        border-radius: 50%;
        border: 2px solid black;
        }
        a {
            font-family: 'Courier New', Courier, monospace;
        }
        #Select {
        text-decoration: none;
        background-color: #2980b9;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        margin-right: 5px;
        display: inline-block;
        }
        .container{
        width: 100%;
        text-align: center;
        }
        span, li {
            text-decoration: underline;
        }
        .card {
            border: 2px solid black;
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.02);
        }


